body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--green-clear);
}head{
    background-color: var(--grey-light);
    color: var(--green-clear);
    padding: 20px 0;
    text-align: center;
}
nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    justify-content: space-around;
    
}
nav ul li{
    margin: 0;

}
nav ul li a{
    background-color: rgb(71, 166, 196);
    padding: 10px;
    text-decoration: none;
    display: block;
    border-radius: 20px;
}
nav ul li a:hover{
    background-color: blueviolet;
}
main{
    display: flex;
    padding: 20px;
    gap: 20px;
}
.seccion{
    flex: 2;
    color: white;
    background-color: black;
    border-radius: 5px;
}
.sidebar{
    flex: 1;
    background-color: var(--grey);
    border-radius: 5px;
    color: white;
    box-shadow: 0 3px beige;

}
footer{
    text-align: center;
    padding: 10px;
    background-color: var(--green-state);
    color: rgb(47, 110, 52);
    margin-top: 20px;
}